   <!-- stats board -->
   <div class="" style="width: inherit;">
    <div class="container">
        <div class="row align-content-center mt-5">
            <!-- defect button -->
            <div class="col ">
                <div class="card text-white bg-danger mb-3 rounded shadow" style="max-width: 18rem; margin:0 auto;">
                    <div class="card-body">
                        <h5 class="card-title"><strong><i class="bi bi-x-square-fill"> </i> REPORT DEFECT</strong></h5>
                        <p class="card-text">Defected items today</p>
                    </div>
                    <div class="mt-4 card-footer d-block">
                        <h1 class="text-white p-0 m-0 d-inline" style="font-size: 64px;text-align: end;">0</h1>
                        <p class="text-white-50 p-0 m-0 d-inline">Items</p>
                    </div>
                </div>
            </div>
            <!-- warning button -->
            <div class="col">
                <div class="card text-white bg-warning mb-3 rounded shadow" style="max-width: 18rem; margin:0 auto;">
                    <div class="card-body">
                        <h5 class="card-title"><strong class="text-capitalize"><i class="bi bi-exclamation-square"></i> REPORT REWORK</strong></h5>
                        <p class="card-text">Rework items today</p>
                    </div>
                    <div class="mt-4 card-footer d-block">
                        <h1 class="text-white p-0 m-0 d-inline" style="font-size: 64px;text-align: end;">0</h1>
                        <p class="text-white-50 p-0 m-0 d-inline">Items</p>
                    </div>
                </div>
            </div>
            <!-- warning button -->
            <div class="col">
                <div class="card text-white bg-success mb-3 rounded shadow" style="max-width: 18rem; margin:0 auto;">
                    <div class="card-body">
                        <h5 class="card-title"><strong class="text-capitalize"><i class="bi bi-box-seam"></i> REPORT PASSED</strong></h5>
                        <p class="card-text">Passed items today</p>
                    </div>
                    <div class="mt-4 card-footer d-block">
                        <h1 class="text-white p-0 m-0 d-inline" style="font-size: 64px;text-align: end;">0</h1>
                        <p class="text-white-50 p-0 m-0 d-inline">Items</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 
 
 
 
 
