<!-- Footer -->
<footer class="page-footer bg-primary text-white">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {{currentYear}} Copyright
    <a class="text-white" href="#">Innovatic (PVT) Ltd</a>
  </div>
</footer>
<!-- Footer -->