<div class="main-banner">
    <div class="container">
        <div class="row pt-4">
            <div class="col">
                <h4 class="text-white"><i class="bi bi-bootstrap"></i> {{appTitle}}</h4>
            <p class="text-white-50">Welcome user <strong>{{userName}}</strong></p>
            </div>
            <div class="col">
                <div class="float-end">
                    <p class="m-0 p-0 text-white-50" style="font-size: 14px;"><i class="bi bi-calendar"></i> Today {{currentDate | date: 'dd/MM/yyyy'}}</p>
                    <p class="m-0 p-0 text-white-50" style="font-size: 14px;"><i class="bi bi-clock"></i> {{ currentDate | date : 'shortTime' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cut-banner"></div>
<!-- navbar -->
<div class="ps-4 pe-4" style="position: sticky;top: 0;width: inherit;z-index: 1000;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow rounded">
        <div class="container-fluid">
            <!-- current page -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="/markdefect">Check Defects</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="/viewdefect">View Defects</a>
                </div>
                <div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User Settings
                          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action #1</a></li>
                            <li><a class="dropdown-item" href="#">Action #1</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>