.main-banner {
    background-color: navy;
    min-height: 150px;
    width: inherit;
    position: relative;
}

.cut-banner {
    background-color: navy;
    min-height: 30px;
    width: inherit;
    position: absolute;
}

.card {
    height: 280px;
    width: 280px;
}