<div class="loginBox">
    <h2 style="padding-bottom: 4px;background: #9d9d9e;color: white;">**** Lounge</h2>
    <!--login box-->
    <div id="box-login" style="display: block;">
        <h3>Sign In</h3>
        <div id="box-login-cred">
            <input type="email"  placeholder="Name@Email.com"  class="form-input column col-12" id="itxt-login-email" />
            <input type="password"  placeholder="Password"  class="form-input column col-12" id="itxt-login-pass"/>
            <input type="button" value="Login" style="width: 220px;" class="btn btn-primary" id="btn-login"/>
            <a style="text-decoration: none;cursor: pointer;display: block;" id="link-reg">Create Account</a>
        </div>     
        <a id="link-forgotP">Forgot password?</a>
    </div>
    <!--get reset email-->
    <div id="box-reset-email" style="display: none;">
        <h3>Verification Email</h3>
        <div id="box-reset-email">
            <label class="form-label" for="itxt-res-email" style="">Email</label>
            <input type="text"  placeholder="Name@email.com"  class="form-input column col-12" id="itxt-res-email" />

            <input type="button" value="Send Link To Mail" style="width: 220px;margin-top: 16px;" class="btn btn-primary" id="btn-reset-email"/>
        </div>     
        <a id="link-loginE">Login into account</a>
    </div>
</div>