<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            This week
          </button>
        </div>
      </div>
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Date and Time</th>
              <th>Defect Category</th>
              <th>Defect Status</th>
              <th>Officer In Charge</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1001</td>
              <td>2021/07/31 4:42 PM</td>
              <td> </td>
              <td>GOOD</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1001</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1001</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1002</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Defective snaps</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1003</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Droppeed stiches</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Defective snaps</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            <tr>
              <td>1,011</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            <tr>
              <td>1,012</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            <tr>
              <td>1,013</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            <tr>
              <td>1,014</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
            <tr>
              <td>1,015</td>
              <td>2021/07/31 4:42 PM</td>
              <td>Brokern stiching</td>
              <td>DEFECT</td>
              <td>Amila De Mel</td>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>