img {
    width: 100%;
    height: 100%;
}

#btn-defect {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: inherit;
    outline: none;
}

#btn-defect:hover {
    opacity: 0.6
}