<!-- stats board -->
<div class="" style="width: inherit;">
    <div class="container">
        <div class="row align-content-center mt-5">
            <!-- defect button -->
            <div class="col ">
                <button id="btn-defect" (click)="onMarkDefect(modalData)">
                <div class="card text-white bg-danger mb-3 rounded shadow" style="max-width: 18rem; margin:0 auto;">
                    <div class="card-body">
                        <h5 class="card-title"><strong><i class="bi bi-x-square-fill"> </i> REPORT DEFECT</strong></h5>
                        <p class="card-text">Defected items today</p>
                    </div>
                    <div class="mt-4 card-footer d-block">
                        <h1 class="text-white p-0 m-0 d-inline" style="font-size: 64px;text-align: end;">0</h1>
                        <p class="text-white-50 p-0 m-0 d-inline">Items</p>
                    </div>
                </div>
            </button>
            </div>
            <!-- Rework button -->
            <div class="col">
                <button id="btn-defect" (click)="onMarkReWork()">
                <div class="card text-white bg-warning mb-3 rounded shadow" style="max-width: 18rem; margin:0 auto;">
                    <div class="card-body">
                        <h5 class="card-title"><strong class="text-capitalize"><i class="bi bi-exclamation-square"></i> REPORT REWORK</strong></h5>
                        <p class="card-text">Rework items today</p>
                    </div>
                    <div class="mt-4 card-footer d-block">
                        <h1 class="text-white p-0 m-0 d-inline" style="font-size: 64px;text-align: end;">0</h1>
                        <p class="text-white-50 p-0 m-0 d-inline">Items</p>
                    </div>
                </div>
            </button>
            </div>
            <!-- Passed button -->
            <div class="col">
                <button id="btn-defect" (click)="onMarkPassed()">
                <div class="card text-white bg-success mb-3 rounded shadow" style="max-width: 18rem; margin:0 auto;">
                    <div class="card-body">
                        <h5 class="card-title"><strong class="text-capitalize"><i class="bi bi-box-seam"></i> REPORT PASSED</strong></h5>
                        <p class="card-text">Passed items today</p>
                    </div>
                    <div class="mt-4 card-footer d-block">
                        <h1 class="text-white p-0 m-0 d-inline" style="font-size: 64px;text-align: end;">0</h1>
                        <p class="text-white-50 p-0 m-0 d-inline">Items</p>
                    </div>
                </div>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- modal defect -->

<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">SELECT A DEFECT</h4>&nbsp;&nbsp;
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
                </button>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let def of defectList">
                <button type="button" class="btn btn-light" style="width: 100%;" (click)="openModalPointGarment(modalDefectGarment)">{{def}}</button>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>
<!-- modal point defect in the garment -->
<ng-template #modalDefectGarment let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">POINT THE DEFECT</h4>
    </div>
    <div class="modal-body">
        <div>
            <img src={{sampleImagURL}}>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>